/WEB-INF
/uploads
/logs
/application/config/.injectedConfiguration
/application/extensions/*
/application/preside
!/application/extensions/README.md
!/application/extensions/extensions.json
.twgit*
/.db_data
/testbox